@import "../../Sass/common/variables.scss";
.about{
    padding: 20px 0;
    .container{
        .about-wrapper{
            display: flex;
            align-items: center;
             gap: 200px;
        }
        .about-heading{
           display: flex;
           align-items: center;
           justify-content: space-between;
           margin-bottom: 80px;
           background-color:gainsboro;
           padding: 20px 0;
        }
        .about-containt h5{
            font-size: 16px;
            font-weight: 500;
            padding: 20px 0;
            text-transform: capitalize;
            color: aqua;
        }
        .about-containt h1{
            padding-bottom: 30px;
            font-size: 54px;
            font-weight: 700;
            font-family: $inter;
            text-transform: capitalize;
            color: black;
            line-height: 50px;
        }
        .about-containt p{
            font-size: 18px;
            font-weight: 400;
            color: $secondary;
            line-height: 20px;
        }
        .about-icon{
           width: 600px;
           display: flex;
           flex-direction: column;
           gap: 30px;
        }
        .icon {
            display: flex;
            gap: 15px;
            align-items: center;
        }
        .icon span{
            font-size: 52px;
            background: gainsboro;
            padding: 8px;
            border-radius: 15px;
        }
        .icon-ittal h4{
            color: $secondary;
            line-height: 20px;
            font-size: 18px;
            padding-bottom: 5px;
            font-weight: 500;
        }
        .icon-ittal p{
            color: $secondary;
            line-height: 20px;
            font-size: 18px;
            font-weight: 500;

        }
        .companes{
            padding: 50px 50px;
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .about-companes{
         height: 150px;
         width: 200px;
        }
        .about-companes img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        } 
        .about-images{
            padding: 100px 0;
            display: flex;
            align-items: center;
            gap: 100px;
        }
         .item{
            width: 400px;
            height: 250px;
         }
        
         .item img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         .about-mission{
            padding:  80px 0;
         }
         .mission-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
         .mission-item{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 700px;
         }
         .mission-item h5{
            font-size: 16px;
            font-weight: 500;
            font-family: $inter;
            text-transform: capitalize;
            line-height: 28px;
            color:aqua;
         }
         .mission-item h1{
            font-size: 54px;
            font-weight: 700;
            text-transform: capitalize;
            font-family: $inter;
            color: $secondary;
            line-height: 52px;
         }
         .mission-item p{
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 400;
            font-family: $inter;
            line-height: 28px;
            color: $secondary;
         }
         .mission-image{
            width: 500px;
            height: 600px;
         }
         .mission-image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         .about-testimonial{
            display: flex;
            align-items: center;
            gap: 150px;
         }
         .testimonial-image{
            width: 800px;
            height: 500px;
         }
         .testimonial-image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         .testimonial-item{
            display: flex;
            flex-direction: column;
            gap: 20px;
         }
         .testimonial-item h5{
            color: aqua;
            font-size: 18px;
            font-weight: 500;
            font-family: $inter;
            line-height: 28px;
         }
         .testimonial-item h3{
            font-size: 48px;
            font-weight: 500;
            font-family: $inter;
            color: $secondary;
         }
         .testimonial-item p{
            font-size: 16px;
            font-weight: 400;
            font-family: $inter;
            color: $secondary;
            line-height: 20px;
         } 
         .man-info{
            display: flex;
            flex-direction: column;
            gap: 5px;
            color: gray;
         }
         .testimonial-icon{
            display: flex;
            gap: 15px;
         }
         .icon{
            background-color: rgba(158, 151, 151, 0.479);
            padding: 15px 15px;
            border-radius: 10px;
         }
         .arrow{
            color:green;
         }
         .about-descriptation{
            padding: 100px 0;
            display: flex;
            align-items: center;
            gap: 40px;
         }
         .descriptation-item{
            width: 620px;
            height: 300px;
         }
         .descriptation-item img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }

    }
}