@import "../Sass/common/variables.scss";
@import "../Sass/common/common.scss";
@import "../Sass/mixins/paragraph.scss";

.reset_password{
    text-align: center !important;
    .from_main{
        padding-top: 140px;
        h2{
            color: $secondary;
            font-size: 40px;
            font-weight: 500;
            font-family: $inter;
            padding-bottom: 25px;
        }
        p{
            @include paragraph;
            width: 470px;
            margin: 0 auto;
        }

        .from{
            width: 450px;
            margin: 0 auto;
            padding-top: 50px;
            position: relative !important;
            input{
                width: 100%;
                outline: none;
                color: $textColor;
                font-size: 18px;
                border: 1px solid $borderColor;
                border-radius: 3px;
                padding: 12px 18px;
                margin-bottom: 15px;
                &::placeholder{
                    color: $textColor;
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                }
            }
            button{
                width: 100%;
                text-align: center;
                padding: 10px 15px;
                background-color: $primary;
                color: $white;
                font-size: 16px;
                text-transform: capitalize;
                outline: none;
                border: none;
                margin-top: 20px;
                cursor: pointer;
            }

            .click_icon{
                position: absolute;
                bottom: 153px;
                right: 15px;
                cursor: pointer;
            }
            .click_icon_2{
                position: absolute;
                bottom: 90px;
                right: 15px;
                cursor: pointer;
            }

            .erro{
                color: red;
                padding-bottom: 10px;
                display: block;
            }
        }
    }

}

