@import "../../Sass/common/variables.scss";
@import "../../Sass//mixins/btn.scss";
// Navbar Design Start
.navbar {
  padding: 12px 0;
  background-color: #f1f2f4;
  .container {
    .nav_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu ul {
        display: flex;
        align-items: center;
        column-gap: 24px;
      }
      .menu ul li a {
        color: $textColor;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        font-family: $inter;
        transition: all linear 0.3s;
      }
      .menu ul li a:hover {
        color: $primary;
      }
      .phone_language {
        display: flex;
        align-items: center;
        column-gap: 24px;
        .phone_info {
          display: flex;
          align-items: center;
          column-gap: 8px;
          .phone_number {
            color: $secondary;
          }
          .down_arrow {
            height: 16px;
            width: 16px;
            color: $textColor;
          }
          .english {
            color: $textColor;
          }
          .commonBtn {
            @include btn;
          }
        }
      }
      .active {
        color: #0a65cc;
      }
    }
  }
}
// Navbar Design End
