@import "../common/variables.scss";
@mixin btn {
  background-color: #cee0f5;
  padding: 12px 24px;
  color: $primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: $inter;
  transition: all linear 0.3s;
  border: 1px solid #cee0f5;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: $primary;
    color: $white;
    border: 1px solid transparent;
  }
}
