// colors
$primary: #ffa500;
$secondary: #18191c;
$textColor: #5e6670;
$tagColor: #0ba02c;
$featured: #e05151;
$white: #fff;

// headings
$heroHeading: 56px;

// font family
$inter: "'Inter', sans-serif";
